body{
    margin: 0;
    padding: 0;
}

.nopadding-left{
    padding-left: 0 !important;
}

/* _______ Colors ________ */
html body{
    background-color: #282A2E !important;
}

h1,h2,p,input,span,ul,li,
label{
    color:#F8F9FA;
}

.form-control, textarea{
    background-color:#303030 !important;
    color: #E0E0E0 !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #E0E0E0 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #E0E0E0 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #E0E0E0 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #E0E0E0 !important;
}

.cart-item,
.notification-item{
    background-color: #242529;
}

#creaAccount:hover{
    background-color: #50555E;
}

.RemoveFromCart > a:hover{
    background-color: #50555E
}

.nav-pills > .nav-item > a:hover:not(.active){
    background-color: #50555E
}

nav, 
footer,
aside .nav-pills > .nav-item > .active{
    background-color:#121212;
    border-color:#121212;
}

nav a, 
footer a, 
.nav-pills > .nav-item > .active{
    color: #c0c0c0;
}


nav .nav-item > a:hover, 
footer .list-inline > .list-inline-item > a:hover{
    color: #ffffff;
    text-decoration: underline;
}

main a,
main a:hover,
.nav-pills > .nav-item > a:not(.active){
    color: white;
}

.second-color{
    background-color: #bd3228;
    border-color:#bd3228;
}

main a:hover{
    background-color: #ccd2d8;
    text-decoration: none;
}

body .badge-primary{
    background-color: #bd3228;
}

.btn-primary{
    background-color: #bd3228;
    border: 1px solid #707070;
    border-radius: 25px;
}

.btn-primary:hover{
    background-color: #a82d24;
    border: 1px solid #707070;
    border-radius: 25px;
}

.btn-primary:active,
.btn-primary:focus{
    background-color: #bd3228 !important;
    border: 1px solid #707070 !important;
    border-radius: 25px !important;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}

#buyButton{
    height: 50%;
}

#creaAccount:hover{
    text-decoration: underline;
}

.product-price {
    color:  #bababa;
    font-size: 18px;
}

.cartInfo,
.cartPrice{
    font-size:large;
}

.RemoveFromCart{
    text-decoration: underline;
}

.fa-bars{
    color:#e6e6ff;
}

.product-item{
    padding-left: 2%;
    padding-right: 2%;
}

div > a > figure{
    margin-bottom: 0.1px;
}

div > figure{
    margin-bottom: 0.1px;
}

.d-block{
    width: 80%;
}

.product-block:hover{
    background-color:#2f3237;
}

div > a > figure > img:hover{
    -webkit-filter: brightness(110%); 
}

ul{
    list-style-type: none;
    padding: 0;
}

/* _______ Text ________ */
header > div > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
