body{
    margin: 0;
    padding: 0;
}

.nopadding-left{
    padding-left: 0 !important;
}

/* _______ Colors ________ */
html body{
    background-color: #F8F9FA !important;
}

.cart-item{
    background-color: #F3F6F6;
}

.notification-item{
    background-color: #F3F6F6;
}

nav, 
footer,
aside .nav-pills > .nav-item > .active{
    background-color:#235490;
    border-color:#235490;
}

nav a, 
footer a, 
.nav-pills > .nav-item > .active{
    color: #ffffff;
}

nav .nav-item > a:hover, 
footer .list-inline > .list-inline-item > a:hover{
    color: #ffffff;
    text-decoration: underline;
}

main a,
main a:hover,
.nav-pills > .nav-item > a:not(.active){
    color: black;
}

.second-color{
    background-color: #d43c31;
    border-color:#d43c31;
}

.nav-pills > .nav-item > a:hover:not(.active),
main a:hover{
    background-color: #ccd2d8;
    text-decoration: none;
}

body .badge-primary{
    background-color: #d43c31;
}

main > section a > span.price {
    color:  #707070;
}

.btn-primary{
    background-color: #d43c31;
    border: 1px solid #707070; 
    border-radius: 25px;
}

.btn-primary:hover{
    background-color: #bd3228;
    border: 1px solid #707070;
    border-radius: 25px;
}

.btn-primary:active,
.btn-primary:focus{
    background-color: #d43c31 !important;
    border: 1px solid #707070 !important;
    border-radius: 25px !important;
}

#buyButton{
    height: 50%;
}

#creaAccount:hover{
    text-decoration: underline;
}

.product-price {
    color:  #707070;
    font-size: 18px;
}

.cartInfo,
.cartPrice{
    font-size:large;
}

.RemoveFromCart{
    text-decoration: underline;
}

.fa-bars{
    color:#e6e6ff;
}

.product-item{
    padding-left: 2%;
    padding-right: 2%;
}

div > a > figure{
    margin-bottom: 0.1px;
}

div > figure{
    margin-bottom: 0.1px;
}

.d-block{
    width: 80%;
}

.product-block:hover{
    background-color:#e2e6e9;
}

div > a > figure > img:hover{
    -webkit-filter: brightness(110%); 
}

ul{
    list-style-type: none;
    padding: 0;
}


/* _______ Text ________ */
header > div > h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}
